.main-background {
    background: linear-gradient(white, rgb(248, 173, 146));
}

.w-100 {
    width: 100% !important;
    height: 75vh;
  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}